<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
        <h2>URL Shortener Microservice</h2>    
        <h3>How to use:</h3>
         <li>Copy/paste or type the absolute path of the URL into the input box below.</li>
         <li>You will receive a JSON object of form: <code>{ original_url : [original_url], short_url : [short_url]</code><br>
               This can be used as an API endpoint. Alternatively, you can just copy <code>[short_url]</code>.</li>
        <li>To visit your original URL with the shortened URL, append <code>[short_url]</code> to the subdirectory of the API endpoint <br>
          eg. <code>https://glossy-clownfish.glitch.me/api/shorturl/[short_url]</code></li>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://github.com/greg-han/">
          <input class="btn" type="submit" value="convert">
        </form>
       <div class="footer">
        <p>
         by Gregory Han
        </p>
       </div>
      </div>
  </body>


</html>
